* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      /* overflow-x: hidden; */
}

body {
    padding-top: 500px;
    height: 170vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(./images/Gemini_Generated_Image_g9yrwg9yrwg9yrwg.png);
    background-repeat: no-repeat;
}

.left-side {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 32px;
    left: 130px;
}

.left-img {
    width: 100px;
    object-fit: contain;
    height: 50px;
}

.left-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.left-txt h1 {
    color: #f3ededb5;
    font-size: 33px;
    font-weight: 700;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.left-txt h2 {
    color: #5f6d88;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    font-weight: 400;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.right-side {
    position: absolute;
    top: 32px;
    left: 910px;
    right: 130px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.right-side h4 a {
    font-size: 13px;
    width: 500px;
    font-weight: 500;
    padding: 10px 10px;
    text-decoration: none;
    transition: all 0.25s ease;
    width: 90px;
    font-family: ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
}

.right-side h4 a:hover {
    color: #f5eeee;
    width: 90px;
    height: 33px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgba(96, 165, 250, 0.114);
    background: rgba(96, 165, 250, 0);
    transform: translateY(-1px);
}

.generate a {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 10px;
    text-decoration: none;
    transition: all 0.25s ease;
    font-family: ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    width: 90px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgba(96, 165, 250, 0.31);
    background: rgba(96, 165, 250, 0.08);
}

.generate a {
    color: #5998F0;

}

.export a {
    color: #6b7a99;

}

.history a {
    color: #6b7a99;

}



.main-container{
    padding: 60px 120px;
    position: absolute;
    border: none;
    top: 40px;
    left: 237px;
}

.hero-section{
    margin-bottom: 30px;
    padding-left: 0px;
}

.small-title{
    color: #64748b;
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.main-title{
    font-size: 33px;
    text-align: center;
    font-weight: 700;
    line-height: 35px;
    color: #bdbfc3;
}

.main-title span{
    background: linear-gradient(90deg, #549df7, #9576f4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.generate-btn{
    margin-top: 22px;

    padding: 13px 49px;

    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 11px;
    border: none;
    cursor: pointer;

    font-size: 16px;
    font-weight: 600;
    color: white;

    background: linear-gradient(90deg, #60a5fa, #a78bfa);

    transition: all 0.3s ease;
}

.generate-btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(96,165,250,0.25);
}
.result-section{
    /* margin-top: 40px; */
padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.empty-state{
    text-align: center;

    padding: 70px 170px;

    border-radius: 22px;

    background:#0e1d32cf;
    border: 1px solid rgba(82, 152, 237, 0.266);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-box{
    width: 70px;
    height: 70px;

    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 15px;

    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(96, 165, 250, 0.31);

    color: orange;
    font-size: 30px;
}
.empty-state h2{
    font-size: 20px;
    font-weight: 500;
    color: #e5e7eb;
}

.empty-state p{
    font-size: 13px;
    width: 270px;
    font-weight: 500;
    color: #637793;
}

/* jscss */
.user-card{
    text-align: center;
        border: 1px solid rgba(82, 152, 237, 0.266);
        padding: 40px 30px;
        padding-bottom: 90px;
        background: #101c34;
        border-radius: 22px;
}

.avatar{
    width: 120px;
    border-radius: 50%;
    border: 4px solid rgba(41, 72, 110, 0.31);
    margin-bottom: 15px;
}

.user-card h2{
    color: #e5e7eb;
}
.info-grid{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.info-box{
    background: #132039c0;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: left;
}

.info-box.full{
    grid-column: span 2;
}

.info-box p{
    color: #64748b;
    font-size: 13px;
}

.info-box h4{
    color: #e5e7eb;
    font-size: 16px;
    font-weight: 500;
    /* margin-top: 5px; */
}